<md-dialog aria-label="Add Custom Class">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Add Custom Class</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel('class')">
        <i class="material-icons">close</i>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px; ">
    <div>
      <md-input-container>
        <label class="md-accent" >Class Name</label>
        <input class="md-accent" ng-model="customClass.name" type="text">
      </md-input-container>

      <md-input-container>
        <label class="md-accent" >Description (optional)</label>
        <textarea class="md-accent" ng-model="customClass.description" type="text" md-maxlength="200"></textarea>
      </md-input-container>      
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="cancel('class')">
     Cancel
    </md-button>
    <md-button ng-click="addCustomClass(customClass.name, customClass.description)" style="margin-right:20px;">
      Confirm
    </md-button>
  </div>
  </form>
</md-dialog>