.animate-fadein {
/*  background:white;*/
/*  border:1px solid black;*/
/*  padding:10px;*/
  
}

.animate-fadein.ng-enter, .animate-fadein.ng-leave {
/*  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s ;*/
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940)  0.5s;
}

.animate-fadein.ng-enter,
.animate-fadein.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-fadein.ng-leave,
.animate-fadein.ng-enter.ng-enter-active {
  opacity:1;
}

.animate-test{
/*  opacity:0; */
}

.animate-test.ng-enter, .animate-test.ng-leave {
/*  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;*/
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-test.ng-enter,
.animate-test.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-test.ng-leave,
.animate-test.ng-enter.ng-enter-active {
  opacity:1;
}

/*-- View Animate --*/

/*
.ng-animate {
 position:absolute; 
}
*/

.view-animate {
  position: absolute;
  width:100%;
/*  padding:10px;*/
-webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .65s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .65s;
}
.main.view-animate.ng-enter, .main.view-animate.ng-leave {
/*  overflow: hidden;*/
/*  overflow-y: hidden;*/
}
.view-animate.ng-enter, .view-animate.ng-leave {
/*  overflow:hidden;*/
/*  display:block;*/
/*  width:100%;*/
}

.view-animate.ng-leave {
  transform: translateX(0%);
}
.view-animate.ng-enter {
  transform: translateX(100%);
}
.view-animate.ng-enter.ng-enter-active {
  transform: translateX(0%);
}
.view-animate.ng-leave.ng-leave-active {
  transform: translateX(-100%);
}
