.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family:open sans, sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* view content */
.view-content{

}
.container{
  max-width:1200px;
  margin:auto;
}
.content-wrapper .container{
  background-color:#fff;
}
.page-title{
  background-color: #616161;
  color:#fff;
}
.main{
  overflow-x:hidden;
}
.mb-page{
  background-color:#fff;
}
/* /view content */

/* Sidenav */
md-sidenav button{
  margin: 0!important;
  width: 100%;
}

/* toolbar */
#menu{
  min-height: 48px;
  min-width: 48px;
}
#menu i{
  vertical-align: text-top;
}
md-menu-content i{
  margin-top:6px;
}
/* /toolbar */

/* button */
.md-button{
/*  font-weight:600;*/
  font-size:16px;
  padding:0 12px;
}
.md-button span{
  vertical-align: middle;
}
.btn-icon{
  margin-left:6px;
}
/* /button */

/* List Items */
md-list-item h3{
  font-weight: 600!important;
}
#homeNav{
  padding:0;
}

/* Characters Page */

#newChar{
  float:left;
}

#characterList md-list-item{
  background-color:rgba(0,0,0,0);
  transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  cursor:pointer;
}
#characterList md-list-item:hover{
  background-color:rgba(0,0,0,.05);
  transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
md-progress-circular{
  margin:48px 0 48px 0;
}
/* /Characters Page */

/* Dialog */
.sub-text{
  font-size:12px;
  margin-bottom:0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
/*
  .container {
    max-width: 730px;
  }
*/

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
