main {
  max-height: 100%; }

.view-content, .view-animate {
  position: absolute;
  width: 100%; }

.view-animate-container {
  position: relative; }

.show-overflow {
  overflow: visible; }

.hide-overflow {
  overflow: hidden; }

.slide-left .view-content.ng-enter {
  animation: slide-in-left 0.65s;
  animation-timing-function: cubic-bezier(0.465, 0.183, 0.153, 0.946); }
  .slide-left .view-content.ng-enter h2, .slide-left .view-content.ng-enter h3, .slide-left .view-content.ng-enter .content-wrapper .container {
    animation: fade-in 0.65s;
    animation-timing-function: cubic-bezier(0.465, 0.183, 0.153, 0.946); }

.slide-left .view-content.ng-leave {
  animation: slide-out-left 0.65s;
  animation-timing-function: cubic-bezier(0.465, 0.183, 0.153, 0.946); }
  .slide-left .view-content.ng-leave h2, .slide-left .view-content.ng-leave h3, .slide-left .view-content.ng-leave .content-wrapper .container {
    animation: fade-out 0.65s;
    animation-timing-function: cubic-bezier(0.465, 0.183, 0.153, 0.946); }

.slide-right .view-content.ng-enter {
  animation: slide-in-right 0.65s;
  animation-timing-function: cubic-bezier(0.465, 0.183, 0.153, 0.946); }
  .slide-right .view-content.ng-enter h2, .slide-right .view-content.ng-enter h3, .slide-right .view-content.ng-enter .content-wrapper .container {
    animation: fade-in 0.65s;
    animation-timing-function: cubic-bezier(0.465, 0.183, 0.153, 0.946); }

.slide-right .view-content.ng-leave {
  animation: slide-out-right 0.65s;
  animation-timing-function: cubic-bezier(0.465, 0.183, 0.153, 0.946); }
  .slide-right .view-content.ng-leave h2, .slide-right .view-content.ng-leave h3, .slide-right .view-content.ng-leave .content-wrapper .container {
    animation: fade-out 0.65s;
    animation-timing-function: cubic-bezier(0.465, 0.183, 0.153, 0.946); }

.slide-up .view-content.ng-enter {
  animation: slide-in-up 0.65s;
  animation-timing-function: cubic-bezier(0.465, 0.183, 0.153, 0.946); }

.slide-up .view-content.ng-leave {
  animation: slide-out-up 0.65s;
  animation-timing-function: cubic-bezier(0.465, 0.183, 0.153, 0.946); }

.slide-down .view-content.ng-enter {
  animation: slide-in-down 0.65s;
  animation-timing-function: cubic-bezier(0.465, 0.183, 0.153, 0.946); }

.slide-down .view-content.ng-leave {
  animation: slide-out-down 0.65s;
  animation-timing-function: cubic-bezier(0.465, 0.183, 0.153, 0.946); }

.fade .view-content.ng-enter {
  animation: fade-in 0.65s;
  animation-timing-function: cubic-bezier(0.465, 0.183, 0.153, 0.946); }

.fade .view-content.ng-leave {
  animation: fade-out 0.65s;
  animation-timing-function: cubic-bezier(0.465, 0.183, 0.153, 0.946); }

@keyframes slide-in-left {
  0% {
    transform: translateX(100%);
    transform-origin: left; }
  100% {
    transform: translateX(0%); } }

@keyframes slide-out-left {
  0% {
    transform: translateX(0%);
    transform-origin: left; }
  100% {
    transform: translateX(-100%); } }

@keyframes slide-in-right {
  0% {
    transform: translateX(-100%);
    transform-origin: left; }
  100% {
    transform: translateX(0%); } }

@keyframes slide-out-right {
  0% {
    transform: translateX(0%);
    transform-origin: left; }
  100% {
    transform: translateX(100%); } }

@keyframes slide-in-up {
  0% {
    opacity: 0;
    transform: translateY(25%);
    transform-origin: left; }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

@keyframes slide-out-up {
  0% {
    transform: translateY(0%);
    transform-origin: left; }
  100% {
    transform: translateY(-25%); } }

@keyframes slide-in-down {
  0% {
    opacity: 0;
    transform: translateY(-25%);
    transform-origin: left; }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

@keyframes slide-out-down {
  0% {
    opacity: 1;
    transform: translateY(0%);
    transform-origin: left; }
  100% {
    opacity: 0;
    transform: translateY(25%); } }

@keyframes hinge {
  0% {
    transform: rotate(-120deg);
    transform-origin: top left; }
  100% {
    transform: rotate(0deg) translateY(200%);
    transform-origin: top left; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*# sourceMappingURL=animations.css.map */