<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/v-accordion/dist/v-accordion.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/animations.css">
    <link rel="stylesheet" href="css/material-icons.css">
    <!-- endbuild -->
  </head>
  <body ng-app="dCraftApp" ngsf-fullscreen ng-cloak>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- App Content -->
    <md-toolbar>
      <div class="md-toolbar-tools container">
        <div ng-cloak class="toolbar-left" flex="80" ng-init="$root.loading = false" ng-class="{hideback: home, showback: !home}">
          <md-button ng-cloak ng-controller="AppCtrl" ng-click="goBack()" id="back" ><i class="material-icons">keyboard_arrow_left</i></md-button>
          <h2>DragonCraft 5e</h2>
        </div>
        <span flex></span>
        <md-menu ng-controller="AppCtrl" md-position-mode="target-right target" >
          <md-button class="md-icon-button" ng-controller="AppCtrl" ng-click="$mdOpenMenu($event)" id="more">
            <i class="material-icons">more_vert</i>
          </md-button>
          <md-menu-content width="4" >
          
            <md-menu-item ng-repeat="item in menu">
              <md-button ng-click="go(item.href)">
                <div layout="row">
                  <p flex>{{item.text}}</p>
                  <i class="material-icons">{{item.icon}}</i>
                </div>
              </md-button>
            </md-menu-item>
            
            <md-menu-item>
              <md-button ngsf-toggle-fullscreen >
                <div layout="row">
                  <p flex>Fullscreen</p>
                  <i class="material-icons">fullscreen</i>
                </div>
              </md-button>
            </md-menu-item>            
          </md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>
    
    <!-- Sidenav -->
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Menu</h1>
      </md-toolbar>
      <md-content ng-controller="AppCtrl">
        <md-button ng-click="go('/')">Characters</md-button>
        <md-button ng-click="go('admin')">Admin</md-button>
        
      </md-content>
    </md-sidenav>
    
    
    <div route-animation-manager>
      <md-content id="main-content" ng-view class="view-content main" autoscroll="true" flex>
<!--          <div ></div>-->
      </md-content>
    </div>
    
<!--
    <md-content id="main-content" class="main" flex>
      <div route-animation-manager>
        <div ng-view class="view-content [onload: string;] [autoscroll: string;]"></div>
      </div>
    </md-content>
-->


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/dexie/dist/latest/Dexie.min.js"></script>
    <script src="bower_components/ng-messages/angular-messages.js"></script>
    <script src="bower_components/screenfull/dist/screenfull.js"></script>
    <script src="bower_components/angular-screenfull/dist/angular-screenfull.js"></script>
    <script src="bower_components/angular-indexedDB/angular-indexed-db.js"></script>
    <script src="bower_components/oclazyload/dist/ocLazyLoad.js"></script>
    <script src="bower_components/v-accordion/dist/v-accordion.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
<!--    <script src="../bower_components/oclazyload/dist/ocLazyLoad.js"></script>-->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/providers/route-animations.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/config/theming.js"></script>     
    <script src="scripts/config/routing.js"></script>
    <script src="scripts/config/database.js"></script>
    <script src="scripts/controllers/appCtrl.js"></script>
    <script src="scripts/controllers/testCtrl.js"></script>
<!--    <script src="scripts/controllers/databaseCtrl.js"></script>-->


    <script src="scripts/controllers/newCharacterCtrl.js"></script>
    <script src="scripts/controllers/characterListCtrl.js"></script>
    <script src="scripts/controllers/navCtrl.js"></script>
    <script src="scripts/controllers/databaseCtrl.js"></script>
    <!-- Character Profile Controllers -->
    <script src="scripts/controllers/profile/basicCtrl.js"></script>
    <script src="scripts/controllers/profile/appearanceCtrl.js"></script>
    <script src="scripts/controllers/profile/historyCtrl.js"></script>
    <script src="scripts/controllers/profile/traitsCtrl.js"></script>
    <script src="scripts/controllers/profile/classInfoCtrl.js"></script>
    <script src="scripts/controllers/profile/featsCtrl.js"></script>
    <script src="scripts/controllers/databaseAdminCtrl.js"></script>
    <script src="scripts/controllers/adminCtrl.js"></script>



    <!-- Game data -->
<!--    <script src="scripts/services/transitionSrv.js"></script>-->
    <script src="scripts/services/game-data/classSrv.js"></script>
    <script src="scripts/services/game-data/raceSrv.js"></script>
    <script src="scripts/services/game-data/backgroundSrv.js"></script>
    <script src="scripts/services/game-data/featsSrv.js"></script>
    <script src="scripts/services/characterSrv.js"></script>
    <script src="scripts/services/saveCharacterSrv.js"></script>
    <script src="scripts/services/databaseAdminSrv.js"></script>
    <script src="scripts/services/databaseSrv.js"></script>
    <!-- endbuild -->
  </body>
</html>
