<!-- Title -->
<div id="top" class="page-title md-primary">
  <div class="container md-padding">
    <h2>{{character.name}} - Basic Info</h2>
    <h3>Level {{character.level}} {{character.race}} {{character.class}}</h3>
  </div>
</div>
<!-- testtt -->
<!-- Content -->
<div class="content-wrapper">
  <div class="container md-padding">
  <md-button class="lock-button md-icon-button md-fab md-accent" ng-controller="AppCtrl" ng-click="$mdOpenMenu($event)" id="more"  aria-label="Lock Page">
    <i ng-if="lockBasic" md-menu-origin class="material-icons">lock</i>
    <i ng-if="!lockBasic" md-menu-origin class="material-icons">lock_open</i>
  </md-button>
  <div layout="row" class="section-description">
    
    <!-- Menu -->
<!--
    <md-menu class="page-settings"  ng-controller="AppCtrl" >
    <md-button class="md-icon-button md-raised" ng-controller="AppCtrl" ng-click="$mdOpenMenu($event)" id="more">
      <i md-menu-origin class="material-icons">settings</i>
    </md-button>
    
    <md-menu-content class="page-settings-content" width="4" >

      <md-menu-item>
        <md-button md-no-ink ng-click="lockPage('basic')" ng-if="!lockBasic">
          <md-icon>
            <i class="material-icons" md-menu-align-target>lock</i>
          </md-icon>
          Lock Page
        </md-button>
        <md-button md-no-ink ng-click="unlockPage('basic')" ng-if="lockBasic">
          <md-icon>
            <i class="material-icons" md-menu-align-target>lock_open</i>
          </md-icon>
          Unlock Page
        </md-button>
      </md-menu-item>

    </md-menu-content>
  </md-menu>
-->
    <p flex>Basic information about your character.</p>
    
    </div>
    
    <div layout="row" layout-wrap>
      <!-- Name -->
      <md-input-container flex-gt-sm="50" flex-sm="100">
        <label>Name</label>
        <input type="text" ng-model="character.name" ng-change="updateCharacter(character.id, 'name', character.name)" value="character.name">
      </md-input-container>

      <!-- Race -->
      <md-input-container flex-gt-sm="50" flex-sm="100">
        <label>Race</label>
        <md-select name="race" ng-model="character.race" ng-change="updateCharacter(character.id, 'race', character.race); updateSubraces(character.race)" ng-disabled="lockBasic">
          <md-option ng-repeat="race in races" value="{{race.name}}" >{{race.name}}</md-option>
          <md-option ng-click="showDialog($event, 'race')" value="custom">Add Custom Race...</md-option>
        </md-select>
      </md-input-container>

      <!-- Subrace -->
      <md-input-container flex-gt-sm="50" flex-sm="100" ng-if="subraces.length > 0">
        <label>Subrace</label>
        <md-select name="race" ng-model="character.subrace" ng-change="updateCharacter(character.id, 'subrace', character.subrace)" ng-disabled="lockBasic" ng-init="updateSubraces(character.race)">
          <md-option ng-repeat="subrace in subraces" value="{{subrace.name}}" >{{subrace.name}}</md-option>
          <md-option ng-click="showDialog($event, 'subrace')" value="custom.name">Add Custom Subrace...</md-option>
        </md-select>
      </md-input-container>

      <!-- Class -->
      <md-input-container flex-gt-sm="50" flex-sm="100">
        <label>Class</label>
        <md-select name="race" ng-model="character.class" ng-change="updateCharacter(character.id, 'class', character.class)" ng-disabled="lockBasic">
          <md-option ng-repeat="class in classes" value="{{class.name}}" >{{class.name}}</md-option>
          <md-option ng-click="showDialog($event, 'class')" value="custom">Add Custom Class...</md-option>
        </md-select>
      </md-input-container>
    </div>
    
  </div>
</div>