<!-- Title -->
<div id="top" class="page-title md-primary">
  <div class="container md-padding">
    <h2>{{selectedCharacter.name}} - Basic Info</h2>
    <h3>Level {{selectedCharacter.level}} {{selectedCharacter.race}} {{selectedCharacter.class}}</h3>
  </div>
</div>

<!-- Content -->
<div class="content-wrapper">
  <div class="container md-padding">
  <md-button class="lock-button md-icon-button md-fab md-accent" ng-controller="AppCtrl" ng-click="$mdOpenMenu($event)" id="more">
    <i ng-if="lockBasic" md-menu-origin class="material-icons">lock</i>
    <i ng-if="!lockBasic" md-menu-origin class="material-icons">lock_open</i>
  </md-button>
  <div layout="row" class="section-description">
    
    <!-- Menu -->
<!--
    <md-menu class="page-settings"  ng-controller="AppCtrl" >
    <md-button class="md-icon-button md-raised" ng-controller="AppCtrl" ng-click="$mdOpenMenu($event)" id="more">
      <i md-menu-origin class="material-icons">settings</i>
    </md-button>
    
    <md-menu-content class="page-settings-content" width="4" >

      <md-menu-item>
        <md-button md-no-ink ng-click="lockPage('basic')" ng-if="!lockBasic">
          <md-icon>
            <i class="material-icons" md-menu-align-target>lock</i>
          </md-icon>
          Lock Page
        </md-button>
        <md-button md-no-ink ng-click="unlockPage('basic')" ng-if="lockBasic">
          <md-icon>
            <i class="material-icons" md-menu-align-target>lock_open</i>
          </md-icon>
          Unlock Page
        </md-button>
      </md-menu-item>

    </md-menu-content>
  </md-menu>
-->
    <p flex>Basic information about your character. Provides the foundation for the rest of your character.</p>
    
    </div>
    
    <div layout="row" layout-wrap>
      <!-- Name -->
      <md-input-container flex-gt-sm="50" flex-sm="100">
        <label>Name</label>
        <input type="text" ng-model="char.name" ng-disabled="lockBasic" ng-change="updateChar(char.id, 'name', char.name)">
      </md-input-container>

      <!-- Race -->
      <md-input-container flex-gt-sm="50" flex-sm="100">
        <label>Race</label>
        <md-select name="race" ng-model="char.race" ng-change="updateChar(char.id, 'race', char.race); updateSubrace(char.race)" ng-disabled="lockBasic">
          <md-option ng-repeat="race in raceArray" value="{{race.name}}" >{{race.name}}</md-option>
          <md-option ng-click="showDialog($event, 'race')" value="custom">Add Custom Race...</md-option>
        </md-select>
      </md-input-container>

      <!-- Subrace -->
      <md-input-container flex-gt-sm="50" flex-sm="100">
        <label>Subrace</label>
        <md-select name="race" ng-model="char.subrace" ng-change="updateChar(char.id, 'subrace', char.subrace)" ng-disabled="lockBasic">
          <md-option ng-repeat="subrace in subraceArray" value="{{subrace}}" >{{subrace}}</md-option>
          <md-option ng-click="showDialog($event, 'subrace')" value="custom">Add Custom Subrace...</md-option>
        </md-select>
      </md-input-container>

      <!-- Class -->
      <md-input-container flex-gt-sm="50" flex-sm="100">
        <label>Class</label>
        <md-select name="race" ng-model="char.class" ng-change="updateChar(char.id, 'class', char.class)" ng-disabled="lockBasic">
          <md-option ng-repeat="class in classArray" value="{{class}}" >{{class}}</md-option>
          <md-option ng-click="showDialog($event, 'class')" value="custom">Add Custom Class...</md-option>
        </md-select>
      </md-input-container>
    </div>
    
  </div>
</div>