<!-- Title -->
<div id="top" class="page-title">
  <div class="container md-padding">
    <h2>{{character.name}} - Racial Traits</h2>
    <h3>Level {{character.level}} {{character.race}} {{character.class}}</h3>
  </div>
</div>

<!-- Content -->

<!--
<div class="sub-title">
  
</div>
-->

<div class="content-wrapper">
  <div class="sub-title md-padding">
    <div class="container">
      <h3>{{character.race}} Traits</h3>
    </div>
  </div>
  
  <div class="container md-padding">    
    
    <div id="race-traits" ng-init="getRaceInfo(character.race, character.subrace)">
      <div class="feature">
        <h4>Ability Score Increase</h4>
        <p>{{raceInfo.abilityScoreIncrease}}</p>      
      </div>

      <div class="feature">
        <h4>Speed</h4>
        <p>{{raceInfo.speed}}</p>
      </div>

      <div class="feature">
        <h4>Languages</h4>
        <p>{{raceInfo.languages}}</p>
      </div>

      <div class="feature" ng-repeat="trait in raceInfo.traits">
        <h4>{{trait.title}}</h4>
        <p>{{trait.description}}</p>
      </div>
    </div>    
    
  </div>
  
  <div class="sub-title md-padding">
    <div class="container">
      <h3>{{character.subrace}} Traits</h3>
    </div>
  </div>
  <div class="container md-padding">
    <div id="subrace-traits">
      
      
      <div class="feature">
      <h4>Ability Score Increase</h4>
      <p>{{subraceInfo.abilityScoreIncrease}}</p>      
      </div>
        
      <div class="feature" ng-repeat="trait in subraceInfo.traits">
        <h4>{{trait.title}}</h4>
        <p>{{trait.description}}</p>      
      </div>
    </div>
    
  
  
  
</div>