<h3>testingdsa</h3>
<div ng-repeat="race in races">
  <p>{{race.name}}</p>
</div>

<div ng-repeat="class in classes">
  <h3>{{class.name}}</h3>
<!--
  <div ng-repeat="ability in class.abilities">
    <div ng-bind-html="ability.description"></div>
    
  </div>
-->
  <div ng-repeat="spec in class.specializations">
<!--    {{spec}}-->
    <div ng-repeat="ability in spec.abilities">
      <div ng-bind-html="ability.description"></div>
    </div>
  </div>
  
</div>
<div id="dbtest" ng-controller="databaseAdminCtrl">dsadads
  <md-button class="md-raised md-primary" ng-click="clearDatabase()">Clear Database</md-button>
  <md-button class="md-raised md-accent" ng-click="repopulateDatabase()">Repopulate Database</md-button>
  <md-button class="md-raised md-warn" ng-click="deleteDatabase()">Delete Database</md-button>
</div>